header {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    height: 600px;
    border-radius: 16px;
    background-repeat: no-repeat;
    margin: 50px 140px;
}

.banner-greeting {
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
}

.banner-titles{
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    margin-top: 16px;
}

.offer-title{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.offer-desription {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
}

.offer-type{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 8px;  
}

.offer-img {
    margin: 48px 350px;
}

.join {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Vectorrr.png);
    background-repeat: no-repeat;
    border-radius: 16px;
    height: 450px;
    margin: 120px 140px;
    padding-top: 126px;
    padding-left: 126px;
    
}

.join-title{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
}

.join-descrption {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
}

.join-btn {
    background-color: black;
    color: #FFF;
    border: none;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    margin-left: 28px;
    margin-top: 30px;
}